In [11]:
import pandas as pd
import glob
import os
from pathlib import Path

In [5]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

In [12]:
path = Path('data/')

Metadata of songs

In [14]:
len(list((path / 'song_data').rglob('*.json')))

74

No. of files in Log data

In [16]:
len(list((path / 'log_data').rglob('*.json')))

30

Total files to process

In [17]:
len(list(path.rglob('*.json')))

104

How does the Song metadata look like

In [18]:
song_files = get_files('data/song_data/A/A/A/')

In [19]:
Song_dataframe = []
for i in song_files:
    s = pd.read_json(i, lines=True)
    s = pd.DataFrame(s)
    Song_dataframe.append(s)
Song_dataframe = pd.concat(Song_dataframe)

In [20]:
Song_dataframe.head(2)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0
0,ARNTLGG11E2835DDB9,NaN,,NaN,Clp,266.39628,1,SOUDSGM12AC9618304,Insatiable (Instrumental Version),0

In [21]:
Song_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 0
Data columns (total 10 columns):
artist_id           14 non-null object
artist_latitude     3 non-null float64
artist_location     14 non-null object
artist_longitude    3 non-null float64
artist_name         14 non-null object
duration            14 non-null float64
num_songs           14 non-null int64
song_id             14 non-null object
title               14 non-null object
year                14 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 1.2+ KB

In [23]:
Song_dataframe.shape

(14, 10)

Log files to process

In [24]:
log_files = get_files('data/log_data/2018/11')

In [25]:
# filepath = []
log_dataframe = []
for i in log_files:
    l = pd.read_json(i, lines=True)
    l = pd.DataFrame(l)
    log_dataframe.append(l)
log_dataframe = pd.concat(log_dataframe)

In [26]:
log_dataframe.head(2)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [27]:
log_dataframe.shape

(8056, 18)

In [28]:
log_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8056 entries, 0 to 145
Data columns (total 18 columns):
artist           6820 non-null object
auth             8056 non-null object
firstName        7770 non-null object
gender           7770 non-null object
itemInSession    8056 non-null int64
lastName         7770 non-null object
length           6820 non-null float64
level            8056 non-null object
location         7770 non-null object
method           8056 non-null object
page             8056 non-null object
registration     7770 non-null float64
sessionId        8056 non-null int64
song             6820 non-null object
status           8056 non-null int64
ts               8056 non-null int64
userAgent        7770 non-null object
userId           8056 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 1.2+ MB

In [29]:
df = log_dataframe[(log_dataframe.page == "NextSong")]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6820 entries, 0 to 145
Data columns (total 18 columns):
artist           6820 non-null object
auth             6820 non-null object
firstName        6820 non-null object
gender           6820 non-null object
itemInSession    6820 non-null int64
lastName         6820 non-null object
length           6820 non-null float64
level            6820 non-null object
location         6820 non-null object
method           6820 non-null object
page             6820 non-null object
registration     6820 non-null float64
sessionId        6820 non-null int64
song             6820 non-null object
status           6820 non-null int64
ts               6820 non-null int64
userAgent        6820 non-null object
userId           6820 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 1012.3+ KB

In [31]:
df.shape

(6820, 18)